.footer {
  width: 100%;
  font-size: 1em;
  box-shadow: 0 -0.5rem 1rem rgb(0 0 0 / 0.8);
  background: var(--clr-dark-01);
  color: var(--clr-muted-txt);
  margin-top: 2em;
  margin-bottom: -3em;
  padding: 0.5rem;
}
