<!-- _navigation.html -->

<!-- <div class="logo">
            <img src="assets/images/logo.png" alt="">
        </div> -->
<!-- <button class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button> -->
<nav class="primary-navigation">
  <ul role="list" class="nav__list">
    <li class="nav__item"><a href="index.html">About Me</a></li>
    <li class="nav__item">
      <a href="assets/docs/NickMorrow_Resume_2025.pdf" target="_blank">Resume</a>
    </li>
    <li class="nav__item"><a href="projects.html">Projects</a></li>
    <li class="nav__item"><a href="contact.html">Contact Me</a></li>
  </ul>
</nav>
