
/***** 
Base Styles
*****/

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	/* font-family:; */
	font-size: 1.125rem;
}

body {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

/* Typography */

h1, h2, h3, h4, p {
	margin: 0;
}

h2, h3 {
	/* font-family: ; */
	line-height: 0.8;
}

h2 {
	font-size: 4rem;
}

p {
	margin-bottom: 0.85em;
}

/* Navigation */

header {
	padding: 1em 0 2em;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: space-around;
}

nav a {
	display: inline-block;
	padding: 0.5em;
	/* color: ; */
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	/* color: ; */
	text-decoration: underline;
}

/* Homepage Styles */

.hero {
	background-color: #333;
	/* background-image: ; */
	background-blend-mode: multiply;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 15vh 1em;
}

.content-grid {
	display: grid;
	gap: 1rem;
}

.content-grid > .content-left {
	grid-template-columns: 70% 1fr;
}

.content-grid > .content-right {
	grid-template-columns: 1fr 70%;
}

.resume-img {
}

.resume-img > img {
	border-radius: 5px;
  	cursor: pointer;
  	transition: 0.3s;
}

.resume-img > img:hover {
	opacity: 0.75;
}

.resume-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .resume-modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
#resumeCaption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
	.resume-modal-content {
	  max-width: 100%;
	}
  }
  
  /* Add Animation - Zoom in the Modal */
  .resume-modal-content, #resumeCaption {
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
  }
  
  /* Close Button */
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }

/* body:before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
}

body {
	background: #fff url("images/funky-lines.png");
}

.projectFrame {
	width: 35em;
	height: 30em;
	border: none;
}

#wrapper {	
	background-color: rgba(67, 168, 73, .69);
	border-radius: 9px 9px 0px 0px;	
}

#body { 	
	margin-right: 5%;
	margin-left: 5%;
	padding: 1em;
	min-height:100%;
	background-color: rgba(91, 73, 73, .79);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0, .8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0, .8);
	box-shadow: 0px 0px 10px rgba(0,0,0, .8);	
	color: rgb(255, 255, 255);
	font-size: 1em;
	font-family: helvetica neue for SAS;	
}

#projectTab {
	width: 100%;
}

#projectTabContent {
	width: 100%;
	height: 100%;
}

.projDesc {
	float: left;
}
.projiFrame {
	float: right;
}

.nav-tabs {
	border-color:#28a745;
}
/*
.nav-tabs > li a { 
	border: 1px solid #28a745;
	color: #fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
	background-color: LightSlateGray !important;
	border:1px solid #28a745;
	color: LightGreen
}

.nav-tabs > li > a:hover{
	background-color: SlateGray !important;
	border:1px solid #28a745;
	color: LimeGreen;
}
.contact {
	font-size: 1em;
	font-family: helvetica neue for SAS;
	margin: 15px;
}

.footStyle {
	width: 100%;
	font-size: 1em;
	font-family: helvetica neue for SAS; 
	-webkit-box-shadow: 0px -30px 31px 2px rgba(0,0,0, .69);
	-moz-box-shadow: 0px -30px 31px 2px rgba(0,0,0, .69);
	box-shadow: 0px -30px 31px 2px rgba(0,0,0,  .69);
	border-radius: 0px 0px 9px 9px;
}

a:link {
	color: LightGreen;
}

a:hover {
	color: LimeGreen;
}

a:visited {
	color: MediumSeaGreen;
}

a:active {
	color: LawnGreen;
} */

/* NEW */

.email-invalid {
	display:none;
}

.thankyou_message {
	display:none;
}