
/***** 
Base Styles
*****/

/* root variables */
:root {
	/* Color */
	--clr-light: #e5e5e5 /*rgb(229, 229, 229)*/; 
	--clr-light-01: #A3A3A3 /*rgb(163, 163, 163)*/;
	--clr-light-02: #9bbeec /*rgb(155, 190, 236)*/;
	--clr-dark: #121212 /*rgb(18, 18, 18)*/;
	--clr-accent: #85BCA2 /*rgb(133, 188, 162)*/;
	--clr-accent-01: #388065 /*rgb(56, 128, 101)*/;
	--clr-accent-02: #616194 /*rgb(97, 97, 148)*/;

	/* Font Weight */
	--fw-reg: 300;
    --fw-bold: 900;
  
	/* Font Family */
	--ff-primary: 'Roboto', sans-serif;
	--ff-secondary: 'Source Code Pro', monospace;

	/* Font Size */
	--fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
} 

/* andy-bell reset START */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	/* font-family:; */
	font-size: 1.125rem;
}


  
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	min-height: 100dvh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
  
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* andy-bell reset END*/

html {
	box-sizing: border-box;
}

body {
	background-color: var(--clr-light);
	background-image: url(../images/vaio_hard_edge.png);
	background-blend-mode: multiply;
	background-repeat: repeat;
	background-attachment: fixed;
	color: var(--clr-light);
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	margin: 0;
    line-height: 1.6;
	padding: 0 0 2rem 0;
}

/* Typography */
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

h1,
h2,
h3 {
	color: var(--clr-accent);
	font-family: var(--ff-secondary);
	font-weight: 900;
	line-height: 1;
}

h2,
h3 {
	margin-bottom: 0.5em;
}

.text-center {
	text-align: center;
}

/* header,
section {
	padding: 3rem 0;
} */

strong { font-weight: var(--fw-bold) }

.container {
	/* max-width: 100rem; */
	margin-inline: auto;
	padding-inline: 2rem;
	width: min(90%, 70.5em);
}

.container--narrow {
	max-width: 34rem;
}

.bg-light {
	color: var(--clr-dark);
	background-color: var(--clr-light);
}

.bg-primary {
	color: var(--clr-accent);
	background-color: var(--clr-dark);
}

.bg-dark {
	color: var(--clr-light);
	background-color: var(--clr-dark);
}

.bg-primary h2,
.bg-light h2 {
	color: var(--clr-accent-02);
}

p {
	margin-bottom: 0.85em;
}

.primary-header {
	padding-bottom: 1em;
}

span.text-strong-accent {
	font-family: var(--ff-secondary);
	font-size: var(--fs-h3);
	font-weight: var(--fw-bold);
	color: var(--clr-accent);
}

/* Navigation */
nav.primary-navigation {
	/* position: fixed; */
    background: var(--clr-dark);
    color: var(--clr-light);
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 0.8);
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1); */
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: space-around;
}

nav a {
	display: inline-block;
	padding: 0.5em;
	color: var(--clr-accent-02);
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	color: var(--clr-accent-01);
	text-decoration: underline;
}

/* 
.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; } */


/* Homepage Styles */
.content-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
	padding-block: 1rem;
	margin-inline: auto;
}

.grid-container {
	border: 3px solid hotpink;
}

@media (min-width: 60em) {
	.content-grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: 3fr 1fr;
		padding-block: 1rem;
		margin-inline: auto;
	}

	.introduction-body{
		/* padding-left: 2.5em; */
	}

	.side-contact {
		
	}

	.resume-img {
		/* aspect-ratio: ; */
	}
	
	.resume-img > img {
		border-radius: 5px;
		cursor: pointer;
		width: max-content;
	}

	.prof-pic {
		/* max-height: 100%;*/
		/* min-width: 100%;  */
	}
}

.content-grid > .content-left {
	grid-template-columns: 70% 1fr;
}

.content-grid > .content-right {
	grid-template-columns: 1fr 70%;
}

.contact-info-group {
	width: max-content;
	margin-top: 1em;
}

.contact-info-group a {
	display: inline-block;
	padding: 0.25em;
	color: var(--clr-accent-02);
	text-decoration: none;
}

.contact-info-group
a:hover,
a:focus {
	color: var(--clr-accent-01);
	text-decoration: underline;
}

.resume-info-group {
	width: max-content;
}

.resume-info-group a {
	display: inline-block;
	padding: 0.25em;
	color: var(--clr-accent-02);
	text-decoration: none;
}

.resume-info-group
a:hover,
a:focus {
	color: var(--clr-accent-01);
	text-decoration: underline;
}

.prof-pic {
	
}

.side-contact {
	
}

.resume-experience > p {
	margin-left: 2.5em;
}

.resume-experience > span.resume-experience-body {
	
}

.resume-img {
	max-width: 25%;
}

.resume-img > img {
	border-radius: 5px;
  	cursor: pointer;
	width: max-content;
  	/* transition: 0.3s; */
}

/* .resume-img > img:hover {
	opacity: 0.75;
} */

/* UNUSED for now */
.resume-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .resume-modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
#resumeCaption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
	.resume-modal-content {
	  max-width: 100%;
	}
  }
  
  /* Add Animation - Zoom in the Modal */
  .resume-modal-content, #resumeCaption {
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
  }
  
  /* Close Button */
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }

/* body:before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
}

body {
	background: #fff url("images/funky-lines.png");
}

.projectFrame {
	width: 35em;
	height: 30em;
	border: none;
}

#wrapper {	
	background-color: rgba(67, 168, 73, .69);
	border-radius: 9px 9px 0px 0px;	
}

#body { 	
	margin-right: 5%;
	margin-left: 5%;
	padding: 1em;
	min-height:100%;
	background-color: rgba(91, 73, 73, .79);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0, .8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0, .8);
	box-shadow: 0px 0px 10px rgba(0,0,0, .8);	
	color: rgb(255, 255, 255);
	font-size: 1em;
	font-family: helvetica neue for SAS;	
}

#projectTab {
	width: 100%;
}

#projectTabContent {
	width: 100%;
	height: 100%;
}

.projDesc {
	float: left;
}
.projiFrame {
	float: right;
}

.nav-tabs {
	border-color:#28a745;
}
/*
.nav-tabs > li a { 
	border: 1px solid #28a745;
	color: #fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
	background-color: LightSlateGray !important;
	border:1px solid #28a745;
	color: LightGreen
}

.nav-tabs > li > a:hover{
	background-color: SlateGray !important;
	border:1px solid #28a745;
	color: LimeGreen;
}
.contact {
	font-size: 1em;
	font-family: helvetica neue for SAS;
	margin: 15px;
}

.footStyle {
	width: 100%;
	font-size: 1em;
	font-family: helvetica neue for SAS; 
	-webkit-box-shadow: 0px -30px 31px 2px rgba(0,0,0, .69);
	-moz-box-shadow: 0px -30px 31px 2px rgba(0,0,0, .69);
	box-shadow: 0px -30px 31px 2px rgba(0,0,0,  .69);
	border-radius: 0px 0px 9px 9px;
}

a:link {
	color: LightGreen;
}

a:hover {
	color: LimeGreen;
}

a:visited {
	color: MediumSeaGreen;
}

a:active {
	color: LawnGreen;
} */

/* NEW */

.email-invalid {
	display:none;
}

.thankyou_message {
	display:none;
}